@model IEnumerable<FirstForum.Models.Answer>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnswerTopic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerSender)
        </th>
                <th>
            @Html.DisplayNameFor(model => model.PosModelsId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerTopic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerSender)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.PosModelsId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
@*            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
 *@           @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

